@import "../../styles/variables";
@import "../../styles/mixins";

.container {
  width: 100%;
  max-width: 40rem;
  margin: 0 auto 3.125rem auto;
  border: 1px solid $blue-darker;
  line-height: 1.365;
  font-family: $open-sans;

  .form_container {
    padding: 2.5rem;

    .form_title {
      text-align: center;
      color: $green;
      margin-bottom: 2.5rem;
    }

    .form {
      display: flex;
      flex-direction: column;
      font-size: 1.25rem;

      .label {
        margin-bottom: 1rem;
      }

      .input,
      .input_textarea {
        margin-bottom: 1.25rem;
        border: 1px $green solid;
        border-radius: 0.3125rem;
        padding: 0.21875rem 0.5rem;
      }

      .input_textarea {
        resize: none;
        font-family: $open-sans;
        line-height: 1.365;
        font-size: 1.25rem;
      }

      .btn {
        color: $white;
        background: $blue-darker;
        align-self: flex-end;
        width: fit-content;
        text-transform: uppercase;
        font-size: 1.125rem;
        letter-spacing: 0.04em;
        padding: 0.5rem 1.5rem;
        border-radius: 0.3125rem;
        border: 2px solid $blue-darker;
        @include transition(all, 0.2s, ease-in-out);
      }

      .btn:focus,
      .btn:hover {
        cursor: pointer;
        background: $white;
        color: $blue-darker;
        @include transition(all, 0.2s, ease-in-out);
      }
    }
  }
}

@media (max-width: 800px) {
  .container {
    max-width: 100%;
  }
}
