@import "../../styles/variables";

.container {
  margin: 0 0 3.125em 0;
  text-align: center;
  font-family: $open-sans;

  .title {
    margin: 0 0 3.125rem 0;
  }

  .members_container {
    display: flex;
    justify-content: center;
    flex-flow: wrap;
  }

  .carousel_controls {
    visibility: hidden;
  }
}

@media (max-width: 953px) {
  .container {
    position: relative;

    .members_container {
      justify-content: center;
      flex-flow: wrap;
    }

    .carousel_controls {
      width: 100%;
      display: flex;
      justify-content: space-between;
      visibility: visible;
      position: absolute;
      top: 12rem;

      .btn {
        cursor: pointer;
        border: none;
        background: transparent;
      }
    }
  }
}
