@import "../../styles/variables";

.container {
  margin: 0 0 3.125em 0;
  text-align: center;
  font-family: $open-sans;

  .title {
    margin: 0 0 3.125rem 0;
  }

  .members_container {
    display: flex;
    justify-content: center;
    flex-flow: wrap;
  }
}

@media (max-width: 953px) {
  .container {
    .members_container {
      justify-content: start;
      flex-flow: nowrap;
      overflow: scroll;
    }
  }
}
