@import "../../styles/variables";

.container {
  font-family: $open-sans;
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 1.375;
  margin-bottom: 2.5rem;
  text-align: right;

  .col {
    width: 50%;
  }

  .text {
    padding-right: 2rem;

    .title {
      color: $orange;
      margin-bottom: 1.25rem;
    }
  }
}

@media (max-width: 850px) {
  .container {
    flex-direction: column-reverse;
    text-align: left;

    .col {
      width: 100%;
    }

    .text {
      padding-right: 0;

      .title {
        margin-top: 1rem;
      }
    }
  }
}