// Google Fonts
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap");

// Colors
$white: #ffffff;
$greenish-white: #ecf0f1;
$blue: #0070f3;
$blue-darker: #2980b9;
$green: #27ae60;
$green-mint: #1abc9c;

$orange: #d35400;

// Font Variables
$roboto: "Roboto", sans-serif;
$open-sans: "Open Sans", sans-serif;
