// Google Fonts
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap");

// Colors
$white: #ffffff;
$greenish-white: #ecf0f1;
$light-blue: #d2edff;
$blue: #0070f3;
$blue-darker: #2980b9;
$blue-darkest: #2c3e50;
$green: #27ae60;
$green-mint: #1abc9c;
$green-mint-light: #98e5d6;
$orange-light: #f6c3a0;
$orange-lighter: #ffd6ba;
$orange: #d35400;
$red: #c0392b;
$black: #000000;

// Font Variables
$roboto: "Roboto", sans-serif;
$open-sans: "Open Sans", sans-serif;
